.webm-trash {
    width: 100%;
    text-align: center;
}

.webm-trash > video {
    width: 500px;
}

.webm-trash > a {
    display: block;
}
.uploaded-trash{
    display:flex;
    flex-direction:column-reverse;
}