<template name="chat">
    <div class="chat-window">
        <button class="toggle-chat-btn">Hide</button>
        <div class="chat-block">
            <div class="messages-wrapper">
                <h1>Тебе здесь всегда рады!</h1>
                {{> messageWindow}} {{> messageInput}}
            </div>
        </div>
    </div>
</template>
<template name="messageInput">
    <form class="message-input send-message">
        <input type="text" name="name" autocomplete="off"
               placeholder="Enter Name">
        <input type="text" name="message" autocomplete="off"
               placeholder="Enter Message">
        <button type="submit" name="sendMessage">Отправить</button>
    </form>
</template>

<template name="messageWindow">
    <div class="message-window">
        {{#each messages}} {{> messageBox}} {{/each}}
    </div>
</template>

<template name="messageBox">
    <div class="message"><span class="message-username">{{user}}
        : </span>{{message}}</div>
</template>