<template name="player">
    <video class="media-player" data-src="{{dump.link}}" data-type="{{dump.type}}" tabindex="0">
        <source src="{{dump.link}}" type="{{dump.type}}">
    </video>
    <div class="player-controls">
        <div class="screen-play-button"></div>
        <button class="play-button play" title="play">Play</button>
        <button class="stop-button stop" title="stop">Stop</button>
        <input type="range" min="0" max="100" title="volume" class="volume-slider">
        <button class="volume-inc-button volume-plus" title="increase volume">Increase volume</button>
        <button class="volume-dec-button volume-minus" title="decrease volume">Decrease volume</button>
        <button class="mute-button mute" title="mute">Mute</button>
        <button class="replay-button replay" title="replay">Replay</button>
        <input type="range" class="duration" max="100" value="0" title="progress"/>
    </div>
</template>